.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: rgb(91, 91, 91) !important;
}

.nav{
  display: inline-flex;
  color: #f9f9f9;
}

.h1 {
  font-family: 'Poppins', sans-serif;

}

.container-home {
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 35px;
  margin-left: 50px;
  color: rgb(255, 255, 255);;
  margin-bottom: 20px;
  margin-top: 20px;
}

#pic {
  margin-top: 15px;
  position: relative;
  left: 42%;
  width:15%;
  height:13%; 
  border-radius:290px; 
  align-items :center; 
}
.container-about {
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 35px;

}

.container-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.lang,
.Database,
.Frameworks {
  width: 300px;
  padding: 20px;
  margin: 55px;
  border-radius: 50px;
  border-radius: 50px;
  background: #4f4e4e;
  box-shadow:  20px 20px 60px #434242,
               -20px -20px 60px #5b5a5a;
  font-size: 25px;
  text-align: center;
  color: rgb(234, 232, 232);
  transition: transform 0.3s ease-in-out
}

.lang:hover,
.Database:hover,
.Frameworks:hover {
  transform: scale(1.05)
}

.container-project {

    perspective: 500px;

  
  .card {
    width: 200px;
    height: 250px;
    background: #16161d;
    border: 2px solid #555555;
    border-radius: 4px;
    position: relative;
    transform-style: preserve-3d;
    will-change: transform;
    transition: transform .5s;
  }
  
  .card:hover {
    transform: translateZ(10px) rotateX(20deg) rotateY(20deg);
  }
  
  .card_title {
    color: #fff;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    transition: transform .5s;
    font: 700 1.5rem monospace;
    text-shadow: -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
  
  .card:hover .card_title {
    transform: translateZ(50px);
  }
}

.project-container {
    display: grid;
      grid-template-columns: repeat(4, 2fr);
      gap: 20px;
      text-align: center;
      padding: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .book {
    position: relative;
    border-radius: 10px;
    width: 320px;
    height: 400px;
    background-color: rgb(247, 218, 181);
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    margin-left: 65px;
    margin-top: 20px;
  }
  
  .book-title{
    top: 0;
    position: absolute;
    background-color: #000000;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .book:hover .book-title {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-87deg);
    -ms-transform: rotatey(-87deg);
    transform: rotatey(-87deg);
    
  }
  /* PRO 2 */
  .book-title2{
    top: 0;
    position: absolute;
    background-color: #fadca3;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url(https://www.joblo.com/wp-content/uploads/2021/05/rickmortypinball913.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .book2:hover .book-title2 {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-87deg);
    -ms-transform: rotatey(-87deg);
    transform: rotatey(-87deg);
    
  }
  .titlerm2 {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    position: absolute;
    top: 20px;

  }
  /*  */
  p {
    font-size: 20px;
    font-weight: bolder;
  }

  .titlerm {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    position: absolute;
    top: 20px;

  }

  @media screen and (max-width: 480px) {

  }

  .proname{
    color: rgb(255, 255, 255);
    margin-bottom: 15px;

  }

  a {
    color: rgb(249, 154, 20)
  }

  .orange {
    color: #ff7a01;
  }
  
  .form-container {
    max-width: 700px;
    margin: 30px;
    background-color: #001925;
    padding: 30px;
    border-left: 5px solid #ff7a01;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
    position: relative;
    left: 30%;
    display: flex;
    margin-bottom: 20px;
  }
  
  .heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .form-container .form .input {
    color: #87a4b6;
    width: 100%;
    background-color: #002733;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
  }
  
  .form-container .form .input:focus {
    border-left: 5px solid #ff7a01;
  }
  
  .form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #013747;
    color: #ff7a01;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .textarea:focus {
    border-left: 5px solid #ff7a01;
  }
  
  .form-container .form .button-container {
    display: flex;
    gap: 10px;
  }
  
  .form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: #ff7a01;
    padding: 10px;
    color: #001925;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #4f4f4f;
    color: #ffffff;
  }
  
  .form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px rgb(91, 91, 91) );
    flex-basis: 30%;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: rgb(91, 91, 91) ;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
  }
  
  .form-container .form .button-container .reset-button-container .reset-button:hover {
    background: #ffffff;
    color: #001925;
  }